.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
.Rapp.history
*-Ex.R
*.tar.gz
*.Rcheck/
.httr-oauth
*_cache/
/cache/
*.utf8.md
*.knit.md
vignettes/*.html
vignettes/*.pdf
session*/vignettes/*.html
session*/vignettes/*.pdf
session*/*.Rproj.user

